<div class="container">
  <nav class="navbar  navbar-light">
    <div class="container container-fluid">
      <a href="#" class="navbar-brand">
        <div class="logo">
          <img src="assets/img/logo.png" alt="" />
        </div>
      </a>
      <div class="navbar-collapse" id="navbarCollapse">
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>

      </div>

    </div>
  </nav>
</div>
