<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <div class="navbar-collapse">

        <div *ngIf="!this.authService.isLoggedIn" class="">
          <a routerLink="/login" class="nav-item btn text-white">Login</a>
          <a routerLink="/register" class="nav-item btn text-white">Register</a>
        </div>

        <div>
          <a routerLink="/" class="nav-item btn text-white">Home</a>
        </div>
      </div>
      <div
        *ngIf="this.authService.isLoggedIn"
        class="d-inline-block"
        ngbDropdown
        #myDrop="ngbDropdown"
      >
        <button
          class="btn btn-outline-light bg-danger mr-7"
          id="dropdownManual"
          ngbDropdownAnchor
          (focus)="myDrop.open()"
        >
          <i class="fa fa-user" aria-hidden="true"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button routerLink="user-dashboard" ngbDropdownItem>DashBoard</button>
          <button (click)="logout()" class="btn" ngbDropdownItem>Logout</button>
        </div>
      </div>
    </div>
  </nav>
</div>
