/*recipes-item folder */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ecf0f3;
}
.wrapper {
  display: inline-block;
  width: 350px;
  height: 400px;
  margin: 40px 20px;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: rgb(235, 83, 37);
}
p {
  font-size: 0.8rem;
  margin: 1rem 0 1.5rem 0;
}
.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #dd6229;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}
.wrapper .btn:hover {
  background-color: #e53003;
}
.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #c93e1b;
}
.wrapper a:hover {
  color: #e25328;
}
.name {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: rgb(218, 72, 27);
}
