* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

body {
  background: #ecf0f3
}

.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #eceff1;
  border-radius: 15px;

}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555
}



.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;

}



.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #e92618;
  color: #fff;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px
}




@media(max-width: 380px) {
  .wrapper {
      margin: 30px 20px;
      padding: 40px 15px 15px 15px
  }
}
